{% form_theme form 'forms/custom_form.html.twig' %}
{{ form_start(form, {'attr': {'class': 'ajax-form-symfo', 'data-pathajax': path('rest_new_rule')}}) }}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.name, {'attr': {'ajax_name': 'name'}}) }}
                {{ form_row(form.faction, {'attr': {'ajax_name': 'faction'}}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.origin, {'attr': {'ajax_name': 'origin'}}) }}
                {{ form_row(form.lastUpdateOrigin, {'attr': {'ajax_name': 'lastUpdateOrigin'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.type, {'attr': {'ajax_name': 'type'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ form_row(form.description, {'attr': {'ajax_name': 'description'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ form_row(form.phases, {'attr': {'ajax_name': 'phases'}}) }}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary my-1 float-right"><i class="fas fa-save"></i> {{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
