{% extends 'base.html.twig' %}

{% block title %}Test Symfony{% endblock %}

{% macro recursiveNodes(nodes) %}
    {% for node in nodes %}
        {% if node.childNodes is defined %}
            <ul>
                <li>Node name: <h6>{{ node.nodeName }}</h6></li>
                {% if node.attributes is defined and node.nodeName != "#text" %}
                    <ul>
                        {% for attr in node.attributes if attr is defined %}
                            <li>@{{ attr.nodeName }}: {{ attr.nodeValue }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <li>
                    {{ _self.recursiveNodes(node.childNodes) }}
                </li>
            </ul>
        {% else %}
            <li class="lastChild">
                {% if node.nodeName is defined %}
                    {{ node.nodeName }}
                {% elseif node.0.nodeName is defined %}
                    {{ node.0.nodeName }}
                {% endif %}
                {% if node.attributes is defined %}
                    <ul>
                        {% for attr in node.attributes if attr is defined %}
                            <li>@{{ attr.nodeName }}: {{ attr.nodeValue }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="offset-2 col-lg-8 mt-5">
                <h1 class="text-center">Homepage - with a feature</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-lg-8 my-5">
                {{ _self.recursiveNodes(nodes) }}
            </div>
        </div>
    </div>
{% endblock %}
