<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SymfonyTest{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block alerts %}
    {% for flash in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ flash|trans(arguments = [], domain = 'alerts') }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for flash in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ flash|trans(arguments = [], domain = 'alerts') }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ flash|trans(arguments = [], domain = 'alerts') }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
